{% extends "base.html" %}
{% block content %}
    <section class="content">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Опросы</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped projects">
                  <thead>
                      <tr>
                          <th style="width: 1%">
                              #
                          </th>
                          <th style="width: 20%">
                              Название
                          </th>
                          <th>
                              Варианты
                          </th>
                          <th>
                           Дата публикации
                          </th>
                          <th>
                           Анонимный
                          </th>
                          <th style="width: 20%">
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for elem in polls %}
                      <tr>
                          <td>
                              {{elem.id}}
                          </td>
                          <td>
                              {{elem.header}}
                          </td>
                          <td>
                              {{ elem.variants }}
                          </td>
                          <td>
                              {{elem.datetime}}
                          </td>
                          <td>
                              {{elem.is_anon}}
                          </td>
                          <td>
                          {% if elem.is_anon == 0 %}
                            <a class="btn btn-primary btn-sm" href="/one_poll/{{elem.id}}">
                                Результаты
                            </a>
                          {% endif %}
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <a href="/add_poll"><button type="button" class="btn btn-success">Новый</button></a>
    </section>
  {% endblock %}
