{% extends "base.html" %}
{% block content %}
    <section class="content">
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for elem in messages %}
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            {{elem[0]}}
                        </td>
                        <td class="project_progress">
                            {{elem[1]}}
                        </td>
                        <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              Редактировать фразу
                          </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        <form method="post" novalidate enctype="multipart/form-data" style="width: 50%">
            {{ form.hidden_tag() }}
            <p>
                {{ form.price.label }}<br>
                {{ form.price(class="form-control") }}
                {% for error in form.price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </section>
{% endblock %}
