{% extends "base.html" %}
{% block content %}
    <section class="content">
        <div class="input-group input-group-sm mb-3" style="width: 50%">
            <form method="post" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.date.label }}<br>
                    {{ form.date(class="form-control", type="date") }}
                    {% for error in form.date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                </p>
                <p>
                    {{ form.time.label }}<br>
                    {{ form.time(class="form-control", type="time") }}
                    {% for error in form.time.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>
            <div style="text-align: center;">{{ error }}</div>
          </div>
    </section>
 {% endblock %}
